:root {
    
    --number-size: 3.2rem;
    --primary-font: 'League Spartan', sans-serif;

    /*Theme deep-blue Colors*/

    /*background colors*/
    --main--deep-blue: hsl(222, 26%, 31%);
    --keypad--deep-blue:  hsl(223, 31%, 20%);
    --screen--deep-blue: hsl(224, 36%, 15%);

    /*Keys colors*/

    --numbers--deep-blue: hsl(30, 25%, 89%);
    --numbers-shadow--deep-blue: hsl(28, 16%, 65%);

    --toggle-equals--deep-blue: hsl(6, 63%, 50%);
    --toggle-equals-shadow--deep-blue: hsl(6, 70%, 34%);

    --res-del--deep-blue: hsl(225, 21%, 49%);
    --res-del--shadow-deep-blue: hsl(224, 28%, 35%);

    /*font colors*/
    --primary-text-color--deep-blue: hsl(221, 14%, 31%);
    --light-text-color--deep-blue: hsl(0, 0%, 100%);


}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    font-family: var(--primary-font);
    font-weight: 700;
}

.body--deep-blue {
    background-color: var(--main--deep-blue);
}

.calculator-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 375px;
    height: 100%;
    max-height: 667px;
    padding: 30px;
}

.calculator-container__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10%;
}

.calculator-container__top--deep-blue {
    color: var(--light-text-color--deep-blue);
}

.calculator-container__h2 {
    font-size: 3.2rem;
}


.theme-selector {
    display: flex;
    gap: 25px;
}

.theme-selector__p {
    align-self: flex-end;
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.theme-selector__box {
    display: flex;
    flex-direction: column;
}

.theme-selector__numbers {
    display: flex;
    justify-content: space-between;
    padding: 0 5px;
    font-size: 1.2rem; 
}

.theme-selector__switch {
    display: flex;
    align-items: center;
    width: 65px;
    height: 24px;
    margin-top: 5px;
    padding: 5px;
    border-radius: 20px;
}

.theme-selector__switch--deep-blue {
    background-color: var(--keypad--deep-blue);
}

.theme-selector__button {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid var(--toggle-equals-shadow--deep-blue);
}

.theme-selector__button--deep-blue {
    background-color: var(--toggle-equals--deep-blue);
}

.calculator-container__screen {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 15%;
    padding: 20px;
    font-size: 4rem;
    border-radius: 10px;
}

.calculator-container__screen--deep-blue {
    background-color: var(--screen--deep-blue);
    color: var(--light-text-color--deep-blue);
}

.calculator-container__keypad {
    width: 100%;
    height: 75%;
    padding: 20px;
    border-radius: 10px;
}

.calculator-container__keypad--deep-blue {
    background-color: var(--keypad--deep-blue);
}

.keypad-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    height: 100%;
}

.keypad-container__rows {
    display: flex;
    gap: 10px;
    width: 100%;
    height: 20%;
    max-height: 64px;
}

.keypad-container__buttons {
    width: 25%;
    max-height: 60px;
    font-size: var(--number-size);
    font-weight: 700;
    font-family: var(--main-font-family);
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.keypad-container__buttons--deep-blue {
    color: var(--primary-text-color--deep-blue);
    background-color: var(--numbers--deep-blue);
    border-bottom: 4px solid var(--numbers-shadow--deep-blue);
}

.buttons-del-res-equals {
    font-size: 2rem;   
}

.buttons-del-res--deep-blue {
    color: var(--light-text-color--deep-blue);
    background-color: var(--res-del--deep-blue);
    border-bottom: 4px solid var(--res-del--shadow-deep-blue); 
}

.buttons-reset-equals {
    width: 50%;
}

.keypad-container__button--equal--deep-blue {
    color: var(--light-text-color--deep-blue);
    background-color: var(--toggle-equals--deep-blue);
    border-bottom: 4px solid var(--toggle-equals-shadow--deep-blue);
}

.attribution { 
    font-size: 11px; 
    font-weight: 400;
    text-align: center;
    margin-bottom: 15px; 
}

.attribution--deep-blue {
    font-size: 1.6rem;
    color: var(--light-text-color--deep-blue);
}

.attribution--deep-blue a {
    color: var(--numbers--deep-blue);
}