:root {

    /*Theme 1 Colors*/
    --main-background-theme-1: hsl(222, 26%, 31%);
    --keypad-background-theme-1:  hsl(223, 31%, 20%);
    --screen-background-theme-1: hsl(224, 36%, 15%);

    --key-background-theme-1: hsl(225, 21%, 49%);
    --key-shadow: hsl(224, 28%, 35%);

    --key-toggle-background-theme-1: hsl(6, 63%, 50%);
    --key-toggle-shadow-theme-1: hsl(6, 70%, 34%);

    --number-key-background-theme-1: hsl(30, 25%, 89%);
    --number-key-shadow-theme-1: hsl(28, 16%, 65%);

    --text-color-theme-1: hsl(221, 14%, 31%);
    --text-light-theme-1: hsl(0, 0%, 100%);

    --main-font-family: 'League Spartan', sans-serif;
    --number-size: 3.2rem;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    font-family: var(--main-font-family);
    font-weight: 700;
}

.body--theme-one {
    background-color: var(--main-background-theme-1);
}

.calculator-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 375px;
    height: 100%;
    max-height: 667px;
    padding: 30px;
}

.calculator-container__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10%;
}

.calculator-container__top--theme-one {
    color: var(--text-light-theme-1);
}

.calculator-container__h2 {
    font-size: 3.2rem;
}


.theme-selector {
    display: flex;
    gap: 25px;
}

.theme-selector__p {
    align-self: flex-end;
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.theme-selector__box {
    display: flex;
    flex-direction: column;
}

.theme-selector__numbers {
    display: flex;
    justify-content: space-between;
    padding: 0 5px;
    font-size: 1.2rem; 
}

.theme-selector__switch {
    display: flex;
    align-items: center;
    width: 65px;
    height: 24px;
    margin-top: 5px;
    padding: 5px;
    border-radius: 20px;
}

.theme-selector__switch--theme-one {
    background-color: var(--keypad-background-theme-1);
}

.theme-selector__button {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid var(--key-toggle-shadow-theme-1);
}

.theme-selector__button--theme-one {
    background-color: var(--key-toggle-background-theme-1);
}

.calculator-container__screen {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 15%;
    padding: 20px;
    font-size: 4rem;
    border-radius: 10px;
}

.calculator-container__screen--theme-one {
    background-color: var(--screen-background-theme-1);
    color: var(--text-light-theme-1);
}

.calculator-container__keypad {
    width: 100%;
    height: 75%;
    padding: 20px;
    border-radius: 10px;
}

.calculator-container__keypad--theme-one {
    background-color: var(--keypad-background-theme-1);
}

.keypad-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    height: 100%;
}

.keypad-container__rows {
    display: flex;
    gap: 10px;
    width: 100%;
    height: 20%;
    max-height: 64px;
}

.keypad-container__buttons {
    width: 25%;
    max-height: 60px;
    font-size: var(--number-size);
    font-weight: 700;
    font-family: var(--main-font-family);
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.keypad-container__buttons--theme-one {
    color: var(--text-color-theme-1);
    background-color: var(--number-key-background-theme-1);
    border-bottom: 4px solid var(--number-key-shadow-theme-1);
}

.keypad-container__button-del {
    font-size: 2rem;
}

.keypad-container__button-del--theme-one {
    color: var(--text-light-theme-1);
    background-color: var(--key-background-theme-1);
    border-bottom: 4px solid var(--key-shadow);    
}

.keypad-container__button-reset {
    width: 50%;
    font-size: 2rem;
}

.keypad-container__button-reset--theme-one {
    color: var(--text-light-theme-1);
    background-color: var(--key-background-theme-1);
    border-bottom: 4px solid var(--key-shadow);
}

.keypad-container__button-equal {
    width: 50%;
    font-size: 2rem;
}

.keypad-container__button--equal--theme-one {
    color: var(--text-light-theme-1);
    background-color: var(--key-toggle-background-theme-1);
    border-bottom: 4px solid var(--key-toggle-shadow-theme-1);
}

.attribution { 
    font-size: 11px; 
    font-weight: 400;
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}